<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../public/styles/index.css">
    <link rel="stylesheet" type="text/css" href="../../public/styles/login.css">
    </head>
    <body>
    <div class="login-wrap">
        <div class="login-form">
            <div class="logo">로고</div>
            <input type="text" class="id-input">
            <input type="password" class="pw-input">
            <button class="login-btn">로그인</button>
            <label><div></div><input type="checkbox">로그인 상태 유지</label>
            <div class="login-form-bottom"><button>아이디 찾기</button>|<button>비밀번호 찾기</button>|<button>회원가입</button></div>
        </div>

    </div>
          <!-- footer -->
    <div class="login-footer">
    </div>
    </body>
</html>
